@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply font-sans antialiased;
  }

  :root {
    --scrollbar-width: 6px;
    --scrollbar-track: #F1F5F9;
    --scrollbar-thumb: #CBD5E1;
  }

  .dark {
    --scrollbar-track: #1E293B;
    --scrollbar-thumb: #334155;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 3px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
